VITE_SUPABASE_URL=https://your-project-ref.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
VITE_CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
VITE_CLOUDINARY_UPLOAD_PRESET=your-cloudinary-upload-preset
VITE_BACKEND_URL=http://localhost:4000




VITE_PAYMENT_MERCHANT_VPA=your-vpa@bank
VITE_PAYMENT_MERCHANT_NAME=Your Merchant Name
VITE_PAYMENT_AMOUNT=1500
